a{
  text-decoration: none !important;
}

h1{
  font-size: 1.333rem !important;
  color: #17B978 !important;
}

.App {
  position: absolute !important;
  text-align: center;
  top: 0 !important;
  left:0 !important;
  bottom:0 !important;
  right: 0 !important;
  width: 18rem;
  max-height: 27rem;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  overflow-y: scroll !important;
}

.float-right{
  float: right !important;
}
.large{
  font-size: 2rem !important;
  font-weight: 800 !important;
}
.logo {
 font-size: 1.883rem;
 font-family: "Reem Kufi" !important;
 color: #17B978 !important;
}

.MuiButton-contained{
  background: #17B978 !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

 .text-green{
   color: #17B978 !important;
 }
.w-100{
   width: 100% !important;
 }
 .x-large{
   font-size: 2.5rem !important;
 }